name: CI

on:
  push:
    branches:
      - master
      - release/*
  pull_request:
    branches:
      - master
      - release/*

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      
      - name: Run package unit tests
        run: ./tools/test.sh

      - name: Run "cargo bench"
        uses: actions-rs/cargo@v1
        with:
          command: bench
          args: --
